<% layout("./layouts/boilerplate.ejs") %>

<body>
    <div class="container">
        <form method="post" action="/api/contacts/<%= oneContact._id %>?_method=PUT" class="contact-form">
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= oneContact.name %>" class="form-control">

            <label for="phoneno">Phone Number</label>
            <input type="number" name="phoneno" value="<%= oneContact.phoneno %>" class="form-control">

            <label for="email">Email</label>
            <input type="email" name="email" value="<%= oneContact.email %>" class="form-control">

            <button class="btn btn-primary">Update Contact</button>
        </form>
    </div>
</body>